---
const {
  title_button_about,
  button_id_about,
  title_button_videos,
  button_id_videos,
  title_button_price,
  button_id_price,
  title_button_album,
  button_id_album,
} = Astro.props;
---

<nav
  class="fixed border-b border-white/30 top-0 left-0 w-full bg-black/50 backdrop-blur-md z-[9999]"
>
  <div class="flex justify-between">
    <span class="ml-2">
      <a href="/">
        <span class="font-bold tracking-tighter text-lg">LLLIT</span>
      </a>
    </span>
    <div class="flex justify-end tracking-tighter z-9999">
      <button
        id={button_id_about}
        
        class="z-9999 cursor-pointer h-full hover:bg-white/30 px-2"
      >
        {title_button_about}
      </button>
      <button
        id={button_id_videos}
        class="z-9999 cursor-pointer h-full hover:bg-white/30 px-2"
      >
        {title_button_videos}
      </button>
      <button
        id={button_id_price}
        class="z-9999 cursor-pointer h-full hover:bg-white/30 px-2 bg-white/20"
      >
        {title_button_price}
      </button>
      <a
        id={button_id_album}
        class="z-9999 cursor-pointer h-full hover:bg-white/30 px-2 inline-flex items-center"
        href="/album"
      >
        Discografía
      </a>
    </div>
  </div>
</nav>

<script>
  import { gsap } from "gsap";

  gsap.from("nav button", {
    y: 60,
    opacity: 0,
    duration: 0.8,
    ease: "power2.out",
    stagger: 0.2, // animación en cascada
  });
</script>
